*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  main{
    display: flex;
    justify-content: space-between;
    margin: 4px;
    }
    
  section{
  background-color: grey ;
  min-width: 33%;
  width: 33%;
  height: 98.5vh;

  }