*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
background-color: black;
min-height: 100px;
height: 100px;
margin: 5px;
justify-content: space-between;
align-items: center;
}

main{
display: flex;
margin: 5px;
justify-content: space-between;
height: 83.5vh;
}

.logo{
  display: flex;
  align-items: center;
}

img{
width: 90px;
height: auto;
}
h1{
  color: white;
  font-family: 'Akronim', cursive;
  font-size: 50px;
}
a{
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

aside{
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: space-between;

}
section{
  width: 59%;
  background-image: url(../img/Fondo.jpg);
  background-size: cover;
  background-position:center center;
  justify-content: center;
  border:5px dashed;
}

article{
  display: flex;
  height: 33%;
}


article{
  background-size: cover;
  border:5px solid ;
  justify-content: right;
}

svg:hover{
  cursor: pointer;
}

#uno{
  background-image: url(../img/taco.jpeg);
}
#dos{
  background-image: url(../img/Navidad.jpeg);
}

#tres{
  background-image: url(../img/Mexicano.jpeg);
}

#cuatro{
  background-image: url(../img/Elegante.jpeg);
}

#cinco{
  background-image: url(../img/Deporte.jpeg);
}

#seis{
  background-image: url(../img/Casual.jpeg);
}

.informacion{
  align-items: center;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 50px;
  margin: 20%;
  border-radius: 25px;
  border:5px dashed;
  text-align: center;
  font-family: 'Playfair Display', serif;
}



